@charset "utf-8";

/* MOBILE */
@media (max-width: 575px){
	.joinVisual {width:100%; overflow:hidden}
	.joinVisual img {width:150%; display:block; margin:0 auto}
	.joinContent {background:#fff; width:90%; margin:0 auto; box-shadow:0 0 5px #6b6b6b; padding:15px; box-sizing:border-box; position:relative; z-index:100; top:-125px}
	.joinContent h3 {font:30px "Roboto", sans-serif; font-weight:700; margin-bottom:10px}
	.form_private {width:100%}
	.inputTit {font:14px "noto300", sans-serif; width:100%; float:left; margin-bottom:6px; cursor:default}
	.inputBox {border:2px solid #d7d7d7; border-radius:4px; width:100%; font:14px "noto100", sans-serif; box-sizing:border-box; display:block; padding:8px 15px; float:left; margin-bottom:15px; -webkit-transition:border 0.5s; -moz-transition:border 0.5s; -o-transition:border 0.5s; transition:border 0.5s}
	.inputBox:focus {border:2px solid #2196f3; box-shadow:0 0 6px #d4d4d49c; -webkit-transition:border 0.5s; -moz-transition:border 0.5s; -o-transition:border 0.5s; transition:border 0.5s}
	.inputCover {position:relative; float:left; width:100%}
	.idInputBox {padding:8px 75px 8px 15px !important}
	.idChk {background:#d7d7d7; position:absolute; bottom:17px; right:2px; border:none; height:36px; border-radius:0 2px 2px 0; color:#fff; font:13px "noto350", sans-serif; -webkit-transition:background 0.5s; -moz-transition:background 0.5s; -o-transition:background 0.5s; transition:background 0.5s}
	.idChk:hover {background:#2196f3; -webkit-transition:background 0.5s; -moz-transition:background 0.5s; -o-transition:background 0.5s; transition:background 0.5s}
	.selectType {border:2px solid #d7d7d7; border-radius:4px; width:100%; font:14px "noto100", sans-serif; box-sizing:border-box; display:block; padding:7px 15px; float:left; margin-bottom:15px; -webkit-transition:border 0.5s; -moz-transition:border 0.5s; -o-transition:border 0.5s; transition:border 0.5s; outline:none; background:#fff}
	.selectType:focus {border:2px solid #2196f3; box-shadow:0 0 6px #d4d4d49c; -webkit-transition:border 0.5s; -moz-transition:border 0.5s; -o-transition:border 0.5s; transition:border 0.5s}
	.birthBox {float:left; width:30%; margin-left:5%}
	.birth_y {margin-left:0}
	.genderBox {margin-bottom:15px; display:block; float:left; width:100%; box-sizing:border-box; border:2px solid #d7d7d7; border-radius:4px; overflow:hidden; -webkit-transition:border 0.5s; -moz-transition:border 0.5s; -o-transition:border 0.5s; transition:border 0.5s}
	.genderBox:hover {border:2px solid #2196f3; box-shadow:0 0 6px #d4d4d49c; -webkit-transition:border 0.5s; -moz-transition:border 0.5s; -o-transition:border 0.5s; transition:border 0.5s}
	.genderBox li {float:left; font:14px "noto100", sans-seirf; text-align:center; width:50%; box-sizing:border-box; padding:8px 0}
	.genderBox .select {background:#2196f3; color:#fff}
	.statBox {float:left; width:100%}
	.statBox li {float:left; font:14px "noto100", sans-serif; border:2px solid #d7d7d7; padding:7px 20px; border-radius:30px; margin-bottom:8px; margin-right:8px;
	-webkit-transition:background 0.5s; -moz-transition:background 0.5s; -o-transition:background 0.5s; transition:background 0.5s;
	-webkit-transition:border 0.5s; -moz-transition:border 0.5s; -o-transition:border 0.5s; transition:border 0.5s;
	}
	.statSel {background:#2196f3; color:#fff; border:2px solid #2196f3 !important; box-shadow:0 0 6px #d4d4d49c;
	-webkit-transition:background 0.5s; -moz-transition:background 0.5s; -o-transition:background 0.5s; transition:background 0.5s;
	-webkit-transition:border 0.5s; -moz-transition:border 0.5s; -o-transition:border 0.5s; transition:border 0.5s;
	}
	
	.coreBtn {padding:13px 35px; font:17px "noto700", sans-serif; border:none; outline:none; border-radius:5px; float:right; margin-top:5px; background:#2196F3; box-shadow:0 0 10px #2b2b2b38; color:#fff; -webkit-transition:box-shadow 0.5s; -moz-transition:box-shadow 0.5s; -o-transition:border 0.5s; transition:box-shadow 0.5s}
	.coreBtn:hover {-webkit-transition:box-shadow 0.5s; -moz-transition:box-shadow 0.5s; -o-transition:border 0.5s; transition:box-shadow 0.5s; box-shadow:0 0 10px #2b2b2b87}
}

/* TABLET */
@media (min-width: 576px) and (max-width: 1023px) {
	.joinVisual {width:100%; height:300px; overflow:hidden}
	.joinVisual img {width:150%; display:block; margin:-200px auto 0}
	.joinContent {background:#fff; width:90%; margin:0 auto; box-shadow:0 0 5px #6b6b6b; padding:15px; box-sizing:border-box; position:relative; z-index:100; top:-125px}
	.joinContent h3 {font:30px "Roboto", sans-serif; font-weight:700; margin-bottom:10px}
	.form_private {width:100%}
	.inputTit {font:14px "noto300", sans-serif; width:100%; float:left; margin-bottom:6px; cursor:default}
	.inputBox {border:2px solid #d7d7d7; border-radius:4px; width:100%; font:14px "noto100", sans-serif; box-sizing:border-box; display:block; padding:8px 15px; float:left; margin-bottom:15px; -webkit-transition:border 0.5s; -moz-transition:border 0.5s; -o-transition:border 0.5s; transition:border 0.5s}
	.inputBox:focus {border:2px solid #2196f3; box-shadow:0 0 6px #d4d4d49c; -webkit-transition:border 0.5s; -moz-transition:border 0.5s; -o-transition:border 0.5s; transition:border 0.5s}
	.inputCover {position:relative; float:left; width:100%}
	.idInputBox {padding:8px 75px 8px 15px !important}
	.idChk {background:#d7d7d7; position:absolute; bottom:17px; right:2px; border:none; height:36px; border-radius:0 2px 2px 0; color:#fff; font:13px "noto350", sans-serif; -webkit-transition:background 0.5s; -moz-transition:background 0.5s; -o-transition:background 0.5s; transition:background 0.5s}
	.idChk:hover {background:#2196f3; -webkit-transition:background 0.5s; -moz-transition:background 0.5s; -o-transition:background 0.5s; transition:background 0.5s}
	.selectType {border:2px solid #d7d7d7; border-radius:4px; width:100%; font:14px "noto100", sans-serif; box-sizing:border-box; display:block; padding:7px 15px; float:left; margin-bottom:15px; -webkit-transition:border 0.5s; -moz-transition:border 0.5s; -o-transition:border 0.5s; transition:border 0.5s; outline:none; background:#fff}
	.selectType:focus {border:2px solid #2196f3; box-shadow:0 0 6px #d4d4d49c; -webkit-transition:border 0.5s; -moz-transition:border 0.5s; -o-transition:border 0.5s; transition:border 0.5s}
	.birthBox {float:left; width:30%; margin-left:5%}
	.birth_y {margin-left:0}
	.genderBox {margin-bottom:15px; display:block; float:left; width:100%; box-sizing:border-box; border:2px solid #d7d7d7; border-radius:4px; overflow:hidden; -webkit-transition:border 0.5s; -moz-transition:border 0.5s; -o-transition:border 0.5s; transition:border 0.5s}
	.genderBox:hover {border:2px solid #2196f3; box-shadow:0 0 6px #d4d4d49c; -webkit-transition:border 0.5s; -moz-transition:border 0.5s; -o-transition:border 0.5s; transition:border 0.5s}
	.genderBox li {float:left; font:14px "noto100", sans-seirf; text-align:center; width:50%; box-sizing:border-box; padding:8px 0}
	.genderBox .select {background:#2196f3; color:#fff}
	.statBox {float:left; width:100%}
	.statBox li {float:left; font:14px "noto100", sans-serif; border:2px solid #d7d7d7; padding:7px 20px; border-radius:30px; margin-bottom:8px; margin-right:8px;
	-webkit-transition:background 0.5s; -moz-transition:background 0.5s; -o-transition:background 0.5s; transition:background 0.5s;
	-webkit-transition:border 0.5s; -moz-transition:border 0.5s; -o-transition:border 0.5s; transition:border 0.5s;
	}
	.statSel {background:#2196f3; color:#fff; border:2px solid #2196f3 !important; box-shadow:0 0 6px #d4d4d49c;
	-webkit-transition:background 0.5s; -moz-transition:background 0.5s; -o-transition:background 0.5s; transition:background 0.5s;
	-webkit-transition:border 0.5s; -moz-transition:border 0.5s; -o-transition:border 0.5s; transition:border 0.5s;
	}
	
	.coreBtn {padding:13px 35px; font:17px "noto700", sans-serif; border:none; outline:none; border-radius:5px; float:right; margin-top:5px; background:#2196F3; box-shadow:0 0 10px #2b2b2b38; color:#fff; -webkit-transition:box-shadow 0.5s; -moz-transition:box-shadow 0.5s; -o-transition:border 0.5s; transition:box-shadow 0.5s}
	.coreBtn:hover {-webkit-transition:box-shadow 0.5s; -moz-transition:box-shadow 0.5s; -o-transition:border 0.5s; transition:box-shadow 0.5s; box-shadow:0 0 10px #2b2b2b87}
}

/* PC */
@media (min-width: 1024px) {
	.sizeLimit {max-width:100%}
	.joinVisual {width:100%; height:400px; overflow:hidden}
	.joinVisual img {width:100%; min-width:100%; display:block; margin:-150px auto 0}
	.joinContent {background:#fff; width:650px; margin:0 auto; box-shadow:0 0 5px #6b6b6b; padding:15px; box-sizing:border-box; position:relative; z-index:100; top:-125px}
	.joinContent h3 {font:30px "Roboto", sans-serif; font-weight:700; margin-bottom:10px}
	.form_private {width:100%}
	.inputTit {font:14px "noto300", sans-serif; width:100%; float:left; margin-bottom:6px; cursor:default}
	.inputBox {border:2px solid #d7d7d7; border-radius:4px; width:100%; font:14px "noto100", sans-serif; box-sizing:border-box; display:block; padding:8px 15px; float:left; margin-bottom:15px; -webkit-transition:border 0.5s; -moz-transition:border 0.5s; -o-transition:border 0.5s; transition:border 0.5s}
	.inputBox:focus {border:2px solid #2196f3; box-shadow:0 0 6px #d4d4d49c; -webkit-transition:border 0.5s; -moz-transition:border 0.5s; -o-transition:border 0.5s; transition:border 0.5s}
	.inputCover {position:relative; float:left; width:100%}
	.idInputBox {padding:8px 75px 8px 15px !important}
	.idChk {background:#d7d7d7; position:absolute; bottom:17px; right:2px; border:none; height:36px; border-radius:0 2px 2px 0; color:#fff; font:13px "noto350", sans-serif; -webkit-transition:background 0.5s; -moz-transition:background 0.5s; -o-transition:background 0.5s; transition:background 0.5s}
	.idChk:hover {background:#2196f3; -webkit-transition:background 0.5s; -moz-transition:background 0.5s; -o-transition:background 0.5s; transition:background 0.5s}
	.selectType {border:2px solid #d7d7d7; border-radius:4px; width:100%; font:14px "noto100", sans-serif; box-sizing:border-box; display:block; padding:7px 15px; float:left; margin-bottom:15px; -webkit-transition:border 0.5s; -moz-transition:border 0.5s; -o-transition:border 0.5s; transition:border 0.5s; outline:none; background:#fff}
	.selectType:focus {border:2px solid #2196f3; box-shadow:0 0 6px #d4d4d49c; -webkit-transition:border 0.5s; -moz-transition:border 0.5s; -o-transition:border 0.5s; transition:border 0.5s}
	.birthBox {float:left; width:30%; margin-left:5%}
	.birth_y {margin-left:0}
	.genderBox {margin-bottom:15px; display:block; float:left; width:100%; box-sizing:border-box; border:2px solid #d7d7d7; border-radius:4px; overflow:hidden; -webkit-transition:border 0.5s; -moz-transition:border 0.5s; -o-transition:border 0.5s; transition:border 0.5s}
	.genderBox:hover {border:2px solid #2196f3; box-shadow:0 0 6px #d4d4d49c; -webkit-transition:border 0.5s; -moz-transition:border 0.5s; -o-transition:border 0.5s; transition:border 0.5s}
	.genderBox li {float:left; font:14px "noto100", sans-seirf; text-align:center; width:50%; box-sizing:border-box; padding:8px 0}
	.genderBox .select {background:#2196f3; color:#fff}
	.statBox {float:left; width:100%}
	.statBox li {float:left; font:14px "noto100", sans-serif; border:2px solid #d7d7d7; padding:7px 20px; border-radius:30px; margin-bottom:8px; margin-right:8px;
	-webkit-transition:background 0.5s; -moz-transition:background 0.5s; -o-transition:background 0.5s; transition:background 0.5s;
	-webkit-transition:border 0.5s; -moz-transition:border 0.5s; -o-transition:border 0.5s; transition:border 0.5s;
	}
	.statSel {background:#2196f3; color:#fff; border:2px solid #2196f3 !important; box-shadow:0 0 6px #d4d4d49c;
	-webkit-transition:background 0.5s; -moz-transition:background 0.5s; -o-transition:background 0.5s; transition:background 0.5s;
	-webkit-transition:border 0.5s; -moz-transition:border 0.5s; -o-transition:border 0.5s; transition:border 0.5s;
	}
	.coreBtn {padding:13px 35px; font:17px "noto700", sans-serif; border:none; outline:none; border-radius:5px; float:right; margin-top:5px; background:#2196F3; box-shadow:0 0 10px #2b2b2b38; color:#fff; -webkit-transition:box-shadow 0.5s; -moz-transition:box-shadow 0.5s; -o-transition:border 0.5s; transition:box-shadow 0.5s}
	.coreBtn:hover {-webkit-transition:box-shadow 0.5s; -moz-transition:box-shadow 0.5s; -o-transition:border 0.5s; transition:box-shadow 0.5s; box-shadow:0 0 10px #2b2b2b87}
}