@charset "utf-8";
/* MOBILE */
@media (max-width: 575px){
	body {background:#f3f3f3}
	/* imgContent */
	.imgContent {background:#000; width:100%; overflow:hidden}
	.imgContent img {opacity:0.5; width:230%; display:block; margin:0 auto}
	
	/* myinfoContent */
	.myinfoContent {background:#f3f3f3; float:left}
	
	/* myinfoContent - myinfoMenu */
	.myinfoMenu {position:relative; z-index:50; width:100%; margin:-80px auto 0; padding:15px; box-sizing:border-box}
	.myinfoMenu h3 {font:17px "Roboto", sans-serif; font-weight:700; margin-bottom:10px; color:#fff}
	.myinfoMenu ul {background:#fff; border-radius:5px; overflow:hidden; box-shadow:0 0 6px #616161ad}
	.myinfoMenu ul li {margin:15px 0 13px 0; float:left; width:33.3%; position:relative; border-right:1px solid #ececec; box-sizing:border-box}
	.myinfoMenu ul li:last-child {border-right:none}
	.myinfoMenu ul li a {display:block; text-align:center; color:#3a3a3a}
	.myinfoMenu ul li a i {font-size:20px}
	.myinfoMenu ul li a span {font:13px "noto100", sans-serif; padding:5px 0 0 0}
	.myinfoMenu ul li:nth-child(2) a {color:#2196f3 !important; text-shadow:0 0 0px #a2a2a2}
	
	/* myinfoContent - myinfoArea */
	.myinfoArea {padding:15px; box-sizing:border-box}
	.listWrap {width:100%; background:orange;}
	.listWrap ul li {transition-duration: 1s; transition: .5; overflow:hidden; float:left; background:#fff; width:100%; box-sizing:border-box; margin-bottom:15px; border-radius:5px; box-shadow:0 0 5px #73737387}
	.listWrap ul li a {display:block; width:100%; position:relative}
	.listWrap ul li a img {width:100%}
	.listWrap ul li a p {width:40px; height:40px; position:absolute; left:0; top:0; background:#00000061; border-radius:0 0 5px 0}
	.listWrap ul li a i {font-size:15px; color:#fff; text-align:center; display:block; padding:12.5px 0; text-shadow:0 0 5px #505050}
}

/* TABLET */
@media (min-width: 576px) and (max-width: 1023px) {
	body {background:#f3f3f3}
	/* imgContent */
	.imgContent {background:#000; width:100%; overflow:hidden}
	.imgContent img {opacity:0.5; width:100%; display:block; margin:0 auto}
	
	/* myinfoContent */
	.myinfoContent {background:#f3f3f3; float:left}
	
	/* myinfoContent - myinfoMenu */
	.myinfoMenu {position:relative; z-index:50; width:100%; margin:-80px auto 0; padding:15px; box-sizing:border-box}
	.myinfoMenu h3 {font:17px "Roboto", sans-serif; font-weight:700; margin-bottom:10px; color:#fff}
	.myinfoMenu ul {background:#fff; border-radius:5px; overflow:hidden; box-shadow:0 0 6px #616161ad}
	.myinfoMenu ul li {margin:15px 0 13px 0; float:left; width:33.3%; position:relative; border-right:1px solid #ececec; box-sizing:border-box}
	.myinfoMenu ul li:last-child {border-right:none}
	.myinfoMenu ul li a {display:block; text-align:center; color:#3a3a3a}
	.myinfoMenu ul li a i {font-size:20px}
	.myinfoMenu ul li a span {font:13px "noto100", sans-serif; padding:5px 0 0 0}
	.myinfoMenu ul li:nth-child(2) a {color:#2196f3 !important; text-shadow:0 0 0px #a2a2a2}
	
	/* myinfoContent - myinfoArea */
	.myinfoArea {padding:15px; box-sizing:border-box; width:100%}
	.listWrap {width:100%;}
	.listWrap ul li {transition-duration: 1s; transition: .5; overflow:hidden; float:left; background:#fff; width:49%; margin-right:2%; box-sizing:border-box; margin-bottom:15px; border-radius:5px; box-shadow:0 0 5px #73737387}
	.listWrap ul li:nth-child(even) {margin-right:0}
	.listWrap ul li a {display:block; width:100%; position:relative}
	.listWrap ul li a img {width:100%}
	.listWrap ul li a p {width:40px; height:40px; position:absolute; left:0; top:0; background:#00000061; border-radius:0 0 5px 0}
	.listWrap ul li a i {font-size:15px; color:#fff; text-align:center; display:block; padding:12.5px 0; text-shadow:0 0 5px #505050}
}

/* PC */
@media (min-width: 1024px) {
	body {background:#f3f3f3}
	/* imgContent */
	.imgContent {background:#000; width:100%; overflow:hidden; height:280px}
	.imgContent img {opacity:0.5; width:100%; display:block; margin:0 auto}
	
	/* myinfoContent */
	.myinfoContent {background:#f3f3f3; float:left}
	
	/* myinfoContent - myinfoMenu */
	.myinfoMenu {position:relative; z-index:50; width:400px; margin:-90px auto 0; padding:15px; box-sizing:border-box}
	.myinfoMenu h3 {font:22px "Roboto", sans-serif; font-weight:700; margin-bottom:10px; color:#fff}
	.myinfoMenu ul {background:#fff; border-radius:5px; overflow:hidden; box-shadow:0 0 6px #616161ad}
	.myinfoMenu ul li {margin:15px 0 13px 0; float:left; width:33.3%; position:relative; border-right:1px solid #ececec; box-sizing:border-box}
	.myinfoMenu ul li:last-child {border-right:none}
	.myinfoMenu ul li a {display:block; text-align:center; color:#3a3a3a; cursor:pointer}
	.myinfoMenu ul li a i {font-size:25px}
	.myinfoMenu ul li a span {font:13px "noto100", sans-serif; padding:5px 0 0 0}
	.myinfoMenu ul li:nth-child(2) a {color:#2196f3 !important; text-shadow:0 0 0px #a2a2a2}
	
	/* myinfoContent - myinfoArea */
	.myinfoArea {padding:15px; box-sizing:border-box; width:100%}
	.listWrap {width:100%;}
	.listWrap ul li {transition-duration: 1s; transition: .5; overflow:hidden; float:left; background:#fff; width:22%; margin-right:2%; box-sizing:border-box; margin-bottom:15px; border-radius:5px; box-shadow:0 0 5px #73737387}
	.listWrap ul li:nth-child(4n) {margin-right:0}
	.listWrap ul li a {display:block; width:100%; position:relative; cursor:pointer}
	.listWrap ul li a img {width:100%}
	.listWrap ul li a p {width:40px; height:40px; position:absolute; left:0; top:0; background:#00000061; border-radius:0 0 5px 0}
	.listWrap ul li a i {font-size:15px; color:#fff; text-align:center; display:block; padding:12.5px 0; text-shadow:0 0 5px #505050}
}