@charset "utf-8";
/* MOBILE */
@media (max-width: 575px){
	/* imgContent */
	.imgContent {background:#000; width:100%; overflow:hidden}
	.imgContent img {opacity:0.5; width:230%; display:block; margin:0 auto}
	
	/* myinfoContent */
	.myinfoContent {background:#f3f3f3; float:left}
	
	/* myinfoContent - myinfoMenu */
	.myinfoMenu {position:relative; z-index:50; width:100%; margin:-80px auto 0; padding:15px; box-sizing:border-box}
	.myinfoMenu h3 {font:17px "Roboto", sans-serif; font-weight:700; margin-bottom:10px; color:#fff}
	.myinfoMenu ul {background:#fff; border-radius:5px; overflow:hidden; box-shadow:0 0 6px #616161ad}
	.myinfoMenu ul li {margin:15px 0 13px 0; float:left; width:33.3%; position:relative; border-right:1px solid #ececec; box-sizing:border-box}
	.myinfoMenu ul li:last-child {border-right:none}
	.myinfoMenu ul li a {display:block; text-align:center; color:#3a3a3a}
	.myinfoMenu ul li a i {font-size:20px}
	.myinfoMenu ul li a span {font:13px "noto100", sans-serif; padding:5px 0 0 0}
	.myinfoMenu ul li:nth-child(1) a {color:#2196f3 !important; text-shadow:0 0 0px #a2a2a2}
	
	/* myinfoContent - myinfoArea */
	.myinfoArea {padding:15px; box-sizing:border-box}
	.myinfoArea h4 {font:14px "noto500", sans-serif; margin-bottom:15px}
	.preStat {float:left; width:100%}
	
	.topTag {float:left; background:#fff; width:100%; padding:10px; box-sizing:border-box; margin-bottom:15px; border-radius:5px; box-shadow:0 0 5px #73737387}
	.icon {float:left; width:50px; background:#03a9f4; border-radius:50%}
	.icon i {font-size:18px; color:#fff; text-align:center; display:block; padding:16px 0; text-shadow:0 0 5px #0288D1}
	.iconTxt {float:left; margin-left:5px;; margin-top:4px}
	.iconTxt dt {font:15px "noto500", sans-serif}
	.iconTxt dd {font:13px "noto300", sans-serif}
	
	.graph {float:left; background:#fff; width:100%; padding:10px; box-sizing:border-box; margin-bottom:15px; border-radius:5px; box-shadow:0 0 5px #73737387}
	.graph h3 {font:15px "noto500", sans-serif; float:left; position:relative; z-index:10}

	.brandGraph {float:left; width:100%}
	.brandGraph ul {box-sizing:border-box; padding-bottom:35px; margin:0 auto; display:table}
	.brandGraph ul li {width:45px; display:block; float:left; height:200px; position:relative}
	.bar {width:20px; display:block; background:pink; position:absolute; left:50%; bottom:0; margin-left:-10px}
	.value {font:13px "Roboto", sans-serif; width:100%; text-align:center; display:block; margin-top:-16.5px}
	.text {font:14px "noto350", sans-serif; position:absolute; width:100%; text-align:center; bottom:-25px}

	.donutchart {float:left; width:100%; overflow:hidden}
	
	/* myinfoContent - preScoreWrap */
	.preScoreWrap {float:left; background:#fff; width:100%; padding:10px; box-sizing:border-box; margin-bottom:15px; border-radius:5px; box-shadow:0 0 5px #73737387}
	.preScoreWrap h3 {font:14px "noto500", sans-serif; margin-bottom:15px}
	.preScoreWrap table {width:100%}
	.preScoreWrap table tr {border-bottom:1px solid #e6e6e6}
	.preScoreWrap table tr:last-child {border-bottom:none}
	.preScoreWrap table th {font:13px "noto350", sans-serif; width:20%; padding:15px 0; border-right:1px solid #e6e6e6}
	.preScoreWrap table td {font:13px "noto100", sans-serif; padding-left:10px}

	/* myinfoContent - preWordCloudWrap */
	.preWordCloudWrap {float:left; background:#fff; width:100%; padding:10px; box-sizing:border-box; margin-bottom:15px; border-radius:5px; box-shadow:0 0 5px #73737387}
	.preWordCloudWrap h3 {font:14px "noto500", sans-serif; margin-bottom:15px}
	#keywords {width:100%; height:250px}
	
	/* ************************************************************************ */
	@keyframes bake-pie {from {transform: rotate(0deg) translate3d(0, 0, 0)}}
	.pieID {display:inline-block; vertical-align:top; display:flex; margin:0 auto}
	.pie {height:200px; width:200px; position:relative; margin-top:15px}
	.pie::before {content:""; display:block; position:absolute; z-index:1; width:100px; height:100px; background:#fff; border-radius:50%; top:50px; left:50px}
	.slice {position:absolute; width:200px; height:200px; clip:rect(0px, 200px, 200px, 100px); animation:bake-pie 1s}
	.slice span {display:block; position:absolute; top:0; left:0; background-color:#fff; width:200px; height:200px; border-radius:50%; clip:rect(0px, 200px, 200px, 100px)}
	.legend {display:block; ]background:#fff; float:left; width:100%; box-sizing:border-box; padding:0 15px; margin-top:15px}
	.legend li {float:left; width:100%; margin-bottom:10px}
	.legend em {font:14px "noto100", sans-serif; padding-left:8px}
	.legend span {font:14px "noto300", sans-serif; float:right}
	.legend p {background:#fff; width:20px; height:20px; float:left; position:relative; top:2px}
	
	/* ************************************************************************ */
}

/* TABLET */
@media (min-width: 576px) and (max-width: 1023px) {
	/* imgContent */
	.imgContent {background:#000; width:100%; overflow:hidden}
	.imgContent img {opacity:0.5; width:100%; display:block; margin:0 auto}
	
	/* myinfoContent */
	.myinfoContent {background:#f3f3f3; float:left}
	
	/* myinfoContent - myinfoMenu */
	.myinfoMenu {position:relative; z-index:50; width:100%; margin:-80px auto 0; padding:15px; box-sizing:border-box}
	.myinfoMenu h3 {font:17px "Roboto", sans-serif; font-weight:700; margin-bottom:10px; color:#fff}
	.myinfoMenu ul {background:#fff; border-radius:5px; overflow:hidden; box-shadow:0 0 6px #616161ad}
	.myinfoMenu ul li {margin:15px 0 13px 0; float:left; width:33.3%; position:relative; border-right:1px solid #ececec; box-sizing:border-box}
	.myinfoMenu ul li:last-child {border-right:none}
	.myinfoMenu ul li a {display:block; text-align:center; color:#3a3a3a}
	.myinfoMenu ul li a i {font-size:20px}
	.myinfoMenu ul li a span {font:13px "noto100", sans-serif; padding:5px 0 0 0}
	.myinfoMenu ul li:nth-child(1) a {color:#2196f3 !important; text-shadow:0 0 0px #a2a2a2}
	
	/* myinfoContent - myinfoArea */
	.myinfoArea {padding:15px; box-sizing:border-box}
	.myinfoArea h4 {font:14px "noto500", sans-serif; margin-bottom:15px}
	.preStat {float:left; width:100%}
	
	.topTag {float:left; background:#fff; width:100%; padding:10px; box-sizing:border-box; margin-bottom:15px; border-radius:5px; box-shadow:0 0 5px #73737387}
	.icon {float:left; width:50px; background:#03a9f4; border-radius:50%}
	.icon i {font-size:18px; color:#fff; text-align:center; display:block; padding:16px 0; text-shadow:0 0 5px #0288D1}
	.iconTxt {float:left; margin-left:5px;; margin-top:4px}
	.iconTxt dt {font:15px "noto500", sans-serif}
	.iconTxt dd {font:13px "noto300", sans-serif}
	
	.graph {float:left; background:#fff; width:100%; padding:10px; box-sizing:border-box; margin-bottom:15px; border-radius:5px; box-shadow:0 0 5px #73737387}
	.graph h3 {font:15px "noto500", sans-serif; float:left; position:relative; z-index:10; width:100%}

	.brandGraph {float:left; width:100%}
	.brandGraph ul {box-sizing:border-box; padding:0 15px 35px 15px; margin:0 auto; display:table}
	.brandGraph ul li {width:70px; display:block; float:left; height:200px; position:relative}
	.bar {width:40px; display:block; background:pink; position:absolute; left:50%; bottom:0; margin-left:-20px}
	.value {font:13px "Roboto", sans-serif; width:100%; text-align:center; display:block; padding-top:5px}
	.text {font:14px "noto350", sans-serif; position:absolute; width:100%; text-align:center; bottom:-25px}

	.donutchart {float:left; width:100%}

	/* myinfoContent - preScoreWrap */
	.preScoreWrap {float:left; background:#fff; width:100%; padding:10px; box-sizing:border-box; margin-bottom:15px; border-radius:5px; box-shadow:0 0 5px #73737387}
	.preScoreWrap h3 {font:14px "noto500", sans-serif; margin-bottom:15px}
	.preScoreWrap table {width:100%}
	.preScoreWrap table tr {border-bottom:1px solid #e6e6e6}
	.preScoreWrap table tr:last-child {border-bottom:none}
	.preScoreWrap table th {font:13px "noto350", sans-serif; width:20%; padding:15px 0; border-right:1px solid #e6e6e6}
	.preScoreWrap table td {font:13px "noto100", sans-serif; padding-left:10px}

	/* myinfoContent - preWordCloudWrap */
	.preWordCloudWrap {float:left; background:#fff; width:100%; padding:10px; box-sizing:border-box; margin-bottom:15px; border-radius:5px; box-shadow:0 0 5px #73737387}
	.preWordCloudWrap h3 {font:14px "noto500", sans-serif; margin-bottom:15px}
	#keywords {width:100%; height:250px}
	
	
	/* ************************************************************************ */
	@keyframes bake-pie {from {transform: rotate(0deg) translate3d(0, 0, 0)}}
	.pieID {display:inline-block; vertical-align:top; display:flex; margin:0 auto}
	.pie {height:200px; width:200px; position:relative}
	.pie::before {content:""; display:block; position:absolute; z-index:1; width:100px; height:100px; background:#fff; border-radius:50%; top:50px; left:50px}
	.slice {position:absolute; width:200px; height:200px; clip:rect(0px, 200px, 200px, 100px); animation:bake-pie 1s}
	.slice span {display:block; position:absolute; top:0; left:0; background-color:#fff; width:200px; height:200px; border-radius:50%; clip:rect(0px, 200px, 200px, 100px)}
	.legend {background:#fff; float:left; width:100%; box-sizing:border-box; padding:0 15px; margin-top:15px}
	.legend li {float:left; width:18%; float:left; margin-right:2.5%}
	.legend li:last-child {margin-right:0}
	.legend em {font:14px "noto100", sans-serif; margin-left:5px}
	.legend span {font:14px "noto300", sans-serif; float:right}
	.legend p {background:#fff; width:20px; height:20px; float:left}
	
	/* ************************************************************************ */
}

/* PC */
@media (min-width: 1024px) {
	/* imgContent */
	.imgContent {background:#000; width:100%; overflow:hidden; height:280px}
	.imgContent img {opacity:0.5; width:100%; display:block; margin:0 auto}
	
	/* myinfoContent */
	.myinfoContent {background:#f3f3f3; float:left}
	
	/* myinfoContent - myinfoMenu */
	.myinfoMenu {position:relative; z-index:50; width:400px; margin:-90px auto 0; padding:15px; box-sizing:border-box}
	.myinfoMenu h3 {font:22px "Roboto", sans-serif; font-weight:700; margin-bottom:10px; color:#fff}
	.myinfoMenu ul {background:#fff; border-radius:5px; overflow:hidden; box-shadow:0 0 6px #616161ad}
	.myinfoMenu ul li {margin:15px 0 13px 0; float:left; width:33.3%; position:relative; border-right:1px solid #ececec; box-sizing:border-box}
	.myinfoMenu ul li:last-child {border-right:none}
	.myinfoMenu ul li a {display:block; text-align:center; color:#3a3a3a; cursor:pointer}
	.myinfoMenu ul li a i {font-size:25px}
	.myinfoMenu ul li a span {font:13px "noto100", sans-serif; padding:5px 0 0 0}
	.myinfoMenu ul li:nth-child(1) a {color:#2196f3 !important; text-shadow:0 0 0px #a2a2a2}
	
	/* myinfoContent - myinfoArea */
	.myinfoArea {padding:15px; box-sizing:border-box}
	.myinfoArea h4 {font:14px "noto500", sans-serif; margin-bottom:15px}
	.preStat {float:left; width:100%}
	
	.topTag {float:left; background:#fff; width:49%; padding:10px; box-sizing:border-box; margin-bottom:15px; border-radius:5px; box-shadow:0 0 5px #73737387}
	.interFurWrap {margin-right:2%}
	.icon {float:left; width:50px; background:#03a9f4; border-radius:50%}
	.icon i {font-size:18px; color:#fff; text-align:center; display:block; padding:16px 0; text-shadow:0 0 5px #0288D1}
	.iconTxt {float:left; margin-left:5px;; margin-top:4px}
	.iconTxt dt {font:15px "noto500", sans-serif}
	.iconTxt dd {font:13px "noto300", sans-serif}
	
	.graph {float:left; background:#fff; width:49%; padding:10px; box-sizing:border-box; margin-bottom:15px; border-radius:5px; box-shadow:0 0 5px #73737387}
	.graph h3 {font:15px "noto500", sans-serif; float:left; position:relative; z-index:10}
	.interFurGraphWrap {margin-right:2%}
	
	.brandGraph {float:left; width:100%}
	.brandGraph ul {box-sizing:border-box; padding:0 15px 35px 15px; margin:0 auto; display:table}
	.brandGraph ul li {width:70px; display:block; float:left; height:288px; position:relative}
	.bar {width:40px; display:block; background:pink; position:absolute; left:50%; bottom:0; margin-left:-20px}
	.value {font:13px "Roboto", sans-serif; width:100%; text-align:center; display:block; padding-top:5px}
	.text {font:14px "noto350", sans-serif; position:absolute; width:100%; text-align:center; bottom:-25px}
	
	.donutchart {float:left; width:100%}
	
	/* myinfoContent - preScoreWrap */
	.preScoreWrap {float:left; margin-right:2%; background:#fff; width:49%; padding:10px; box-sizing:border-box; margin-bottom:15px; border-radius:5px; box-shadow:0 0 5px #73737387}
	.preScoreWrap h3 {font:14px "noto500", sans-serif; margin-bottom:15px}
	.preScoreWrap table {width:100%}
	.preScoreWrap table tr {border-bottom:1px solid #e6e6e6}
	.preScoreWrap table tr:last-child {border-bottom:none}
	.preScoreWrap table th {font:13px "noto350", sans-serif; width:20%; padding:15px 0}
	.preScoreWrap table td {font:13px "noto100", sans-serif; padding-left:10px}

	/* myinfoContent - preWordCloudWrap */
	.preWordCloudWrap {float:left; background:#fff; width:49%; padding:10px; box-sizing:border-box; margin-bottom:15px; border-radius:5px; box-shadow:0 0 5px #73737387}
	.preWordCloudWrap h3 {font:14px "noto500", sans-serif; margin-bottom:15px}
	#keywords {width:100%; height:250px}
	
	/* ************************************************************************ */
	@keyframes bake-pie {from {transform: rotate(0deg) translate3d(0, 0, 0)}}
	.pieID {display:inline-block; vertical-align:top; display:flex; margin:0 auto}
	.pie {height:200px; width:200px; position:relative; margin-top:15px}
	.pie::before {content:""; display:block; position:absolute; z-index:1; width:100px; height:100px; background:#fff; border-radius:50%; top:50px; left:50px}
	.slice {position:absolute; width:200px; height:200px; clip:rect(0px, 200px, 200px, 100px); animation:bake-pie 1s}
	.slice span {display:block; position:absolute; top:0; left:0; background-color:#fff; width:200px; height:200px; border-radius:50%; clip:rect(0px, 200px, 200px, 100px)}
	.legend {display:block; ]background:#fff; float:left; width:100%; box-sizing:border-box; padding:0 15px; margin-top:15px}
	.legend li {float:left; width:48%; margin-right:2%; margin-bottom:10px}
	.legend li:nth-child(2n) {margin-right:0}
	.legend em {font:14px "noto100", sans-serif; padding-left:8px}
	.legend span {font:14px "Roboto", sans-serif; float:right}
	.legend p {background:#fff; width:20px; height:20px; float:left; position:relative; top:2px}
	/* ************************************************************************ */
}